@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-xGY-ZEXje3yO: 1rem;
  --plasmic-token-size-16: var(--token-xGY-ZEXje3yO);
  --token-yM06WoC0SSJ7: #ffffff;
  --plasmic-token-basic-container-background: var(--token-yM06WoC0SSJ7);
  --token-JMTy0msLo6ix: #030712;
  --plasmic-token-basic-text-primary: var(--token-JMTy0msLo6ix);
  --token-a3G_3FNPLkp2: Inter;
  --plasmic-token-sans-serif: var(--token-a3G_3FNPLkp2);
  --token-BCUobWmlA1W7: 1rem;
  --plasmic-token-font-md: var(--token-BCUobWmlA1W7);
  --token-jehgxdhIlc95: 1.25;
  --plasmic-token-line-height-md: var(--token-jehgxdhIlc95);
  --token-13ne0w8WPEcS: #0a0a0a80;
  --plasmic-token-basic-overlay-background: var(--token-13ne0w8WPEcS);
  --token-ekj26HlkgqLv: 0.75rem;
  --plasmic-token-size-12: var(--token-ekj26HlkgqLv);
  --token-2IxeewXU8ZjE: 1.5rem;
  --plasmic-token-size-24: var(--token-2IxeewXU8ZjE);
  --token-CRfSx-JFAEZE: 1.25rem;
  --plasmic-token-font-lg: var(--token-CRfSx-JFAEZE);
  --token-ZHyBG-Ic2DbV: #2563eb;
  --plasmic-token-brand-brand: var(--token-ZHyBG-Ic2DbV);
  --token-cvENf8rIc3QE: 0.5rem;
  --plasmic-token-size-8: var(--token-cvENf8rIc3QE);
  --token-8TTAQjhUAVqy: 0.375rem;
  --plasmic-token-size-6: var(--token-8TTAQjhUAVqy);
  --token-WOrftxpDvL6z: #374151;
  --plasmic-token-neutral-neutral: var(--token-WOrftxpDvL6z);
  --token-8xduqXDJN3WL: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-8xduqXDJN3WL);
  --token-O0DeOplQWwzT: #6b7280;
  --plasmic-token-muted-muted: var(--token-O0DeOplQWwzT);
  --token-JtUCWjYfq1-O: 0.25rem;
  --plasmic-token-size-4: var(--token-JtUCWjYfq1-O);
  --token-MOz7cPN8v0Gp: 0.75rem;
  --plasmic-token-font-sm: var(--token-MOz7cPN8v0Gp);
  --token-aHCyQiNWEGpu: 1;
  --plasmic-token-line-height-sm: var(--token-aHCyQiNWEGpu);
  --token-2Y06EdnKguDY: 1.4;
  --plasmic-token-line-height-lg: var(--token-2Y06EdnKguDY);
  --token-Z7vo8EeH4r64: 0.125rem;
  --plasmic-token-size-2: var(--token-Z7vo8EeH4r64);
  --token-Qd0H_H6tgMfS: #16a34a;
  --plasmic-token-success-success: var(--token-Qd0H_H6tgMfS);
  --token-0sHiOljR6Rl3: #facc15;
  --plasmic-token-warning-warning: var(--token-0sHiOljR6Rl3);
  --token-dRv_T2BJ58TK: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-dRv_T2BJ58TK);
  --token-9VCFeqojN_h7: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-9VCFeqojN_h7);
  --token-jTyZcOqNgN0a: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-jTyZcOqNgN0a);
  --token-RyV6SoJq09cQ: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-RyV6SoJq09cQ);
  --token-IlahcBogPbBG: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-IlahcBogPbBG);
  --token-cEBOOpnutZ6Y: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-cEBOOpnutZ6Y);
  --token-Mo2PaF0keqTH: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-Mo2PaF0keqTH);
  --token-CDPErJsjfdK9: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-CDPErJsjfdK9);
  --token-3-cYc1lM1-t1: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-3-cYc1lM1-t1);
  --token-gExG92pM3cAo: #86efac;
  --plasmic-token-success-success-border: var(--token-gExG92pM3cAo);
  --token-v34QxAqxfTkO: #fde047;
  --plasmic-token-warning-warning-border: var(--token-v34QxAqxfTkO);
  --token-RL22g8PXxoNN: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-RL22g8PXxoNN);
  --token-Fk_yWenG_K6a: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-Fk_yWenG_K6a);
  --token-FXfearMwK2zr: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-FXfearMwK2zr);
  --token-sNNMTJv82mRg: #00000033;
  --plasmic-token-interaction-pressed: var(--token-sNNMTJv82mRg);
  --token-nN-YRrDObPz5: 0.625rem;
  --plasmic-token-size-10: var(--token-nN-YRrDObPz5);
  --token-hZ3bkeF2pkON: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-hZ3bkeF2pkON);
  --token-gFwEWiuU89qv: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-gFwEWiuU89qv);
  --token-Pwvl_EMAhq4L: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-Pwvl_EMAhq4L);
  --token-9sj_p2wx4EKE: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-9sj_p2wx4EKE);
  --token-XSx7L5Hh8njZ: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-XSx7L5Hh8njZ);
  --token-2RYcS-u2-tqz: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-2RYcS-u2-tqz);
  --token-FkjAcFbHO_u6: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-FkjAcFbHO_u6);
  --token-jqF1K-8RW4tu: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-jqF1K-8RW4tu);
  --token-80PY7etZh1hX: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-80PY7etZh1hX);
  --token-nJnHnMGy33S9: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-nJnHnMGy33S9);
  --token-s-NMgOFmWAMw: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-s-NMgOFmWAMw);
  --token-3W3ajAw2zG1S: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-3W3ajAw2zG1S
  );
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-BEysLewOU0LE_font-family: "Inter", sans-serif;
  --mixin-BEysLewOU0LE_font-size: 16px;
  --mixin-BEysLewOU0LE_font-weight: 400;
  --mixin-BEysLewOU0LE_font-style: normal;
  --mixin-BEysLewOU0LE_color: #535353;
  --mixin-BEysLewOU0LE_text-align: left;
  --mixin-BEysLewOU0LE_text-transform: none;
  --mixin-BEysLewOU0LE_line-height: 1.5;
  --mixin-BEysLewOU0LE_letter-spacing: normal;
  --mixin-BEysLewOU0LE_white-space: pre-wrap;
  --mixin-BEysLewOU0LE_user-select: text;
  --mixin-BEysLewOU0LE_text-decoration-line: none;
  --mixin-BEysLewOU0LE_text-overflow: clip;
  --mixin-qKF1_ZnlpiCv_color: #000000;
  --mixin-qKF1_ZnlpiCv_font-weight: 700;
  --mixin-qKF1_ZnlpiCv_font-size: 64px;
  --mixin-qKF1_ZnlpiCv_line-height: 1;
  --mixin-qKF1_ZnlpiCv_letter-spacing: -1px;
  --mixin-qKF1_ZnlpiCv_white-space: pre-wrap;
  --mixin-CGL-gh_QPnrL_color: #000000;
  --mixin-CGL-gh_QPnrL_font-size: 48px;
  --mixin-CGL-gh_QPnrL_font-weight: 700;
  --mixin-CGL-gh_QPnrL_letter-spacing: -0.5px;
  --mixin-CGL-gh_QPnrL_line-height: 1.1;
  --mixin-CGL-gh_QPnrL_white-space: pre-wrap;
  --mixin-kDzo46U-M7oS_color: #0070f3;
  --mixin-kDzo46U-M7oS_white-space: pre-wrap;
  --mixin-6nAXDoK6dNYe_color: #000000;
  --mixin-6nAXDoK6dNYe_font-size: 32px;
  --mixin-6nAXDoK6dNYe_font-weight: 600;
  --mixin-6nAXDoK6dNYe_line-height: 1.2;
  --mixin-6nAXDoK6dNYe_white-space: pre-wrap;
  --mixin-G-io2qZRnTP7_color: #000000;
  --mixin-G-io2qZRnTP7_font-size: 24px;
  --mixin-G-io2qZRnTP7_font-weight: 600;
  --mixin-G-io2qZRnTP7_line-height: 1.3;
  --mixin-G-io2qZRnTP7_white-space: pre-wrap;
  --mixin-H-f1W5ZKEgaK_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-H-f1W5ZKEgaK_border-bottom-color: #dddddd;
  --mixin-H-f1W5ZKEgaK_border-bottom-style: solid;
  --mixin-H-f1W5ZKEgaK_border-bottom-width: 1px;
  --mixin-H-f1W5ZKEgaK_border-left-color: #dddddd;
  --mixin-H-f1W5ZKEgaK_border-left-style: solid;
  --mixin-H-f1W5ZKEgaK_border-left-width: 1px;
  --mixin-H-f1W5ZKEgaK_border-right-color: #dddddd;
  --mixin-H-f1W5ZKEgaK_border-right-style: solid;
  --mixin-H-f1W5ZKEgaK_border-right-width: 1px;
  --mixin-H-f1W5ZKEgaK_border-top-color: #dddddd;
  --mixin-H-f1W5ZKEgaK_border-top-style: solid;
  --mixin-H-f1W5ZKEgaK_border-top-width: 1px;
  --mixin-H-f1W5ZKEgaK_border-bottom-left-radius: 3px;
  --mixin-H-f1W5ZKEgaK_border-bottom-right-radius: 3px;
  --mixin-H-f1W5ZKEgaK_border-top-left-radius: 3px;
  --mixin-H-f1W5ZKEgaK_border-top-right-radius: 3px;
  --mixin-H-f1W5ZKEgaK_font-family: "Inconsolata";
  --mixin-H-f1W5ZKEgaK_padding-bottom: 1px;
  --mixin-H-f1W5ZKEgaK_padding-left: 4px;
  --mixin-H-f1W5ZKEgaK_padding-right: 4px;
  --mixin-H-f1W5ZKEgaK_padding-top: 1px;
  --mixin-H-f1W5ZKEgaK_white-space: pre-wrap;
  --mixin-BdZCueVPz8gm_border-left-color: #dddddd;
  --mixin-BdZCueVPz8gm_border-left-style: solid;
  --mixin-BdZCueVPz8gm_border-left-width: 3px;
  --mixin-BdZCueVPz8gm_color: #888888;
  --mixin-BdZCueVPz8gm_padding-left: 10px;
  --mixin-BdZCueVPz8gm_white-space: pre-wrap;
  --mixin-Zo8jL0g3MBRa_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Zo8jL0g3MBRa_border-bottom-color: #dddddd;
  --mixin-Zo8jL0g3MBRa_border-bottom-style: solid;
  --mixin-Zo8jL0g3MBRa_border-bottom-width: 1px;
  --mixin-Zo8jL0g3MBRa_border-left-color: #dddddd;
  --mixin-Zo8jL0g3MBRa_border-left-style: solid;
  --mixin-Zo8jL0g3MBRa_border-left-width: 1px;
  --mixin-Zo8jL0g3MBRa_border-right-color: #dddddd;
  --mixin-Zo8jL0g3MBRa_border-right-style: solid;
  --mixin-Zo8jL0g3MBRa_border-right-width: 1px;
  --mixin-Zo8jL0g3MBRa_border-top-color: #dddddd;
  --mixin-Zo8jL0g3MBRa_border-top-style: solid;
  --mixin-Zo8jL0g3MBRa_border-top-width: 1px;
  --mixin-Zo8jL0g3MBRa_border-bottom-left-radius: 3px;
  --mixin-Zo8jL0g3MBRa_border-bottom-right-radius: 3px;
  --mixin-Zo8jL0g3MBRa_border-top-left-radius: 3px;
  --mixin-Zo8jL0g3MBRa_border-top-right-radius: 3px;
  --mixin-Zo8jL0g3MBRa_font-family: "Inconsolata";
  --mixin-Zo8jL0g3MBRa_padding-bottom: 3px;
  --mixin-Zo8jL0g3MBRa_padding-left: 6px;
  --mixin-Zo8jL0g3MBRa_padding-right: 6px;
  --mixin-Zo8jL0g3MBRa_padding-top: 3px;
  --mixin-Zo8jL0g3MBRa_white-space: pre-wrap;
  --mixin-1nbogJJJt27E_display: flex;
  --mixin-1nbogJJJt27E_flex-direction: column;
  --mixin-1nbogJJJt27E_align-items: stretch;
  --mixin-1nbogJJJt27E_justify-content: flex-start;
  --mixin-1nbogJJJt27E_list-style-position: outside;
  --mixin-1nbogJJJt27E_padding-left: 40px;
  --mixin-1nbogJJJt27E_position: relative;
  --mixin-1nbogJJJt27E_list-style-type: disc;
  --mixin-1nbogJJJt27E_white-space: pre-wrap;
  --mixin-rapxNNo1Jyjc_display: flex;
  --mixin-rapxNNo1Jyjc_flex-direction: column;
  --mixin-rapxNNo1Jyjc_align-items: stretch;
  --mixin-rapxNNo1Jyjc_justify-content: flex-start;
  --mixin-rapxNNo1Jyjc_list-style-position: outside;
  --mixin-rapxNNo1Jyjc_padding-left: 40px;
  --mixin-rapxNNo1Jyjc_position: relative;
  --mixin-rapxNNo1Jyjc_list-style-type: decimal;
  --mixin-rapxNNo1Jyjc_white-space: pre-wrap;
  --mixin-eaUI7N3FSB1S_color: #000000;
  --mixin-eaUI7N3FSB1S_font-size: 20px;
  --mixin-eaUI7N3FSB1S_font-weight: 600;
  --mixin-eaUI7N3FSB1S_line-height: 1.5;
  --mixin-eaUI7N3FSB1S_white-space: pre-wrap;
  --mixin-i-X3othDp4Ds_color: #000000;
  --mixin-i-X3othDp4Ds_font-size: 16px;
  --mixin-i-X3othDp4Ds_font-weight: 600;
  --mixin-i-X3othDp4Ds_line-height: 1.5;
  --mixin-i-X3othDp4Ds_white-space: pre-wrap;
  --mixin-V7dzA9kG_EwQ_color: #3291ff;
  --mixin-V7dzA9kG_EwQ_white-space: pre-wrap;
  --mixin-9HY1oyz6VswD_white-space: pre-wrap;
  --mixin-E9_IwYWcNP5G_white-space: pre-wrap;
}

:where(.root_reset_8FchSsiiZWHae7vc9L6pbp) {
  font-family: var(--mixin-BEysLewOU0LE_font-family);
  font-size: var(--mixin-BEysLewOU0LE_font-size);
  font-weight: var(--mixin-BEysLewOU0LE_font-weight);
  font-style: var(--mixin-BEysLewOU0LE_font-style);
  color: var(--mixin-BEysLewOU0LE_color);
  text-align: var(--mixin-BEysLewOU0LE_text-align);
  text-transform: var(--mixin-BEysLewOU0LE_text-transform);
  line-height: var(--mixin-BEysLewOU0LE_line-height);
  letter-spacing: var(--mixin-BEysLewOU0LE_letter-spacing);
  white-space: var(--mixin-BEysLewOU0LE_white-space);
}

:where(.root_reset_8FchSsiiZWHae7vc9L6pbp) h1:where(.plasmic_default__h1),
h1:where(.root_reset_8FchSsiiZWHae7vc9L6pbp.plasmic_default__h1),
:where(.root_reset_8FchSsiiZWHae7vc9L6pbp .__wab_expr_html_text) h1,
:where(.root_reset_8FchSsiiZWHae7vc9L6pbp_tags) h1,
h1:where(.root_reset_8FchSsiiZWHae7vc9L6pbp_tags) {
  color: var(--mixin-qKF1_ZnlpiCv_color);
  font-weight: var(--mixin-qKF1_ZnlpiCv_font-weight);
  font-size: var(--mixin-qKF1_ZnlpiCv_font-size);
  line-height: var(--mixin-qKF1_ZnlpiCv_line-height);
  letter-spacing: var(--mixin-qKF1_ZnlpiCv_letter-spacing);
}

:where(.root_reset_8FchSsiiZWHae7vc9L6pbp) h2:where(.plasmic_default__h2),
h2:where(.root_reset_8FchSsiiZWHae7vc9L6pbp.plasmic_default__h2),
:where(.root_reset_8FchSsiiZWHae7vc9L6pbp .__wab_expr_html_text) h2,
:where(.root_reset_8FchSsiiZWHae7vc9L6pbp_tags) h2,
h2:where(.root_reset_8FchSsiiZWHae7vc9L6pbp_tags) {
  color: var(--mixin-CGL-gh_QPnrL_color);
  font-size: var(--mixin-CGL-gh_QPnrL_font-size);
  font-weight: var(--mixin-CGL-gh_QPnrL_font-weight);
  letter-spacing: var(--mixin-CGL-gh_QPnrL_letter-spacing);
  line-height: var(--mixin-CGL-gh_QPnrL_line-height);
}

:where(.root_reset_8FchSsiiZWHae7vc9L6pbp) a:where(.plasmic_default__a),
a:where(.root_reset_8FchSsiiZWHae7vc9L6pbp.plasmic_default__a),
:where(.root_reset_8FchSsiiZWHae7vc9L6pbp .__wab_expr_html_text) a,
:where(.root_reset_8FchSsiiZWHae7vc9L6pbp_tags) a,
a:where(.root_reset_8FchSsiiZWHae7vc9L6pbp_tags) {
  color: var(--mixin-kDzo46U-M7oS_color);
}

:where(.root_reset_8FchSsiiZWHae7vc9L6pbp) h3:where(.plasmic_default__h3),
h3:where(.root_reset_8FchSsiiZWHae7vc9L6pbp.plasmic_default__h3),
:where(.root_reset_8FchSsiiZWHae7vc9L6pbp .__wab_expr_html_text) h3,
:where(.root_reset_8FchSsiiZWHae7vc9L6pbp_tags) h3,
h3:where(.root_reset_8FchSsiiZWHae7vc9L6pbp_tags) {
  color: var(--mixin-6nAXDoK6dNYe_color);
  font-size: var(--mixin-6nAXDoK6dNYe_font-size);
  font-weight: var(--mixin-6nAXDoK6dNYe_font-weight);
  line-height: var(--mixin-6nAXDoK6dNYe_line-height);
}

:where(.root_reset_8FchSsiiZWHae7vc9L6pbp) h4:where(.plasmic_default__h4),
h4:where(.root_reset_8FchSsiiZWHae7vc9L6pbp.plasmic_default__h4),
:where(.root_reset_8FchSsiiZWHae7vc9L6pbp .__wab_expr_html_text) h4,
:where(.root_reset_8FchSsiiZWHae7vc9L6pbp_tags) h4,
h4:where(.root_reset_8FchSsiiZWHae7vc9L6pbp_tags) {
  color: var(--mixin-G-io2qZRnTP7_color);
  font-size: var(--mixin-G-io2qZRnTP7_font-size);
  font-weight: var(--mixin-G-io2qZRnTP7_font-weight);
  line-height: var(--mixin-G-io2qZRnTP7_line-height);
}

:where(.root_reset_8FchSsiiZWHae7vc9L6pbp) code:where(.plasmic_default__code),
code:where(.root_reset_8FchSsiiZWHae7vc9L6pbp.plasmic_default__code),
:where(.root_reset_8FchSsiiZWHae7vc9L6pbp .__wab_expr_html_text) code,
:where(.root_reset_8FchSsiiZWHae7vc9L6pbp_tags) code,
code:where(.root_reset_8FchSsiiZWHae7vc9L6pbp_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-H-f1W5ZKEgaK_font-family);
  border-radius: var(--mixin-H-f1W5ZKEgaK_border-top-left-radius)
    var(--mixin-H-f1W5ZKEgaK_border-top-right-radius)
    var(--mixin-H-f1W5ZKEgaK_border-bottom-right-radius)
    var(--mixin-H-f1W5ZKEgaK_border-bottom-left-radius);
  padding: var(--mixin-H-f1W5ZKEgaK_padding-top)
    var(--mixin-H-f1W5ZKEgaK_padding-right)
    var(--mixin-H-f1W5ZKEgaK_padding-bottom)
    var(--mixin-H-f1W5ZKEgaK_padding-left);
  border-top: var(--mixin-H-f1W5ZKEgaK_border-top-width)
    var(--mixin-H-f1W5ZKEgaK_border-top-style)
    var(--mixin-H-f1W5ZKEgaK_border-top-color);
  border-right: var(--mixin-H-f1W5ZKEgaK_border-right-width)
    var(--mixin-H-f1W5ZKEgaK_border-right-style)
    var(--mixin-H-f1W5ZKEgaK_border-right-color);
  border-bottom: var(--mixin-H-f1W5ZKEgaK_border-bottom-width)
    var(--mixin-H-f1W5ZKEgaK_border-bottom-style)
    var(--mixin-H-f1W5ZKEgaK_border-bottom-color);
  border-left: var(--mixin-H-f1W5ZKEgaK_border-left-width)
    var(--mixin-H-f1W5ZKEgaK_border-left-style)
    var(--mixin-H-f1W5ZKEgaK_border-left-color);
}

:where(.root_reset_8FchSsiiZWHae7vc9L6pbp)
  blockquote:where(.plasmic_default__blockquote),
blockquote:where(
    .root_reset_8FchSsiiZWHae7vc9L6pbp.plasmic_default__blockquote
  ),
:where(.root_reset_8FchSsiiZWHae7vc9L6pbp .__wab_expr_html_text) blockquote,
:where(.root_reset_8FchSsiiZWHae7vc9L6pbp_tags) blockquote,
blockquote:where(.root_reset_8FchSsiiZWHae7vc9L6pbp_tags) {
  color: var(--mixin-BdZCueVPz8gm_color);
  padding-left: var(--mixin-BdZCueVPz8gm_padding-left);
  border-left: var(--mixin-BdZCueVPz8gm_border-left-width)
    var(--mixin-BdZCueVPz8gm_border-left-style)
    var(--mixin-BdZCueVPz8gm_border-left-color);
}

:where(.root_reset_8FchSsiiZWHae7vc9L6pbp) pre:where(.plasmic_default__pre),
pre:where(.root_reset_8FchSsiiZWHae7vc9L6pbp.plasmic_default__pre),
:where(.root_reset_8FchSsiiZWHae7vc9L6pbp .__wab_expr_html_text) pre,
:where(.root_reset_8FchSsiiZWHae7vc9L6pbp_tags) pre,
pre:where(.root_reset_8FchSsiiZWHae7vc9L6pbp_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Zo8jL0g3MBRa_font-family);
  border-radius: var(--mixin-Zo8jL0g3MBRa_border-top-left-radius)
    var(--mixin-Zo8jL0g3MBRa_border-top-right-radius)
    var(--mixin-Zo8jL0g3MBRa_border-bottom-right-radius)
    var(--mixin-Zo8jL0g3MBRa_border-bottom-left-radius);
  padding: var(--mixin-Zo8jL0g3MBRa_padding-top)
    var(--mixin-Zo8jL0g3MBRa_padding-right)
    var(--mixin-Zo8jL0g3MBRa_padding-bottom)
    var(--mixin-Zo8jL0g3MBRa_padding-left);
  border-top: var(--mixin-Zo8jL0g3MBRa_border-top-width)
    var(--mixin-Zo8jL0g3MBRa_border-top-style)
    var(--mixin-Zo8jL0g3MBRa_border-top-color);
  border-right: var(--mixin-Zo8jL0g3MBRa_border-right-width)
    var(--mixin-Zo8jL0g3MBRa_border-right-style)
    var(--mixin-Zo8jL0g3MBRa_border-right-color);
  border-bottom: var(--mixin-Zo8jL0g3MBRa_border-bottom-width)
    var(--mixin-Zo8jL0g3MBRa_border-bottom-style)
    var(--mixin-Zo8jL0g3MBRa_border-bottom-color);
  border-left: var(--mixin-Zo8jL0g3MBRa_border-left-width)
    var(--mixin-Zo8jL0g3MBRa_border-left-style)
    var(--mixin-Zo8jL0g3MBRa_border-left-color);
}

:where(.root_reset_8FchSsiiZWHae7vc9L6pbp) ul:where(.plasmic_default__ul),
ul:where(.root_reset_8FchSsiiZWHae7vc9L6pbp.plasmic_default__ul),
:where(.root_reset_8FchSsiiZWHae7vc9L6pbp .__wab_expr_html_text) ul,
:where(.root_reset_8FchSsiiZWHae7vc9L6pbp_tags) ul,
ul:where(.root_reset_8FchSsiiZWHae7vc9L6pbp_tags) {
  display: var(--mixin-1nbogJJJt27E_display);
  flex-direction: var(--mixin-1nbogJJJt27E_flex-direction);
  align-items: var(--mixin-1nbogJJJt27E_align-items);
  justify-content: var(--mixin-1nbogJJJt27E_justify-content);
  list-style-position: var(--mixin-1nbogJJJt27E_list-style-position);
  padding-left: var(--mixin-1nbogJJJt27E_padding-left);
  position: var(--mixin-1nbogJJJt27E_position);
  list-style-type: var(--mixin-1nbogJJJt27E_list-style-type);
  flex-column-gap: var(--mixin-1nbogJJJt27E_flex-column-gap);
}

:where(.root_reset_8FchSsiiZWHae7vc9L6pbp) ol:where(.plasmic_default__ol),
ol:where(.root_reset_8FchSsiiZWHae7vc9L6pbp.plasmic_default__ol),
:where(.root_reset_8FchSsiiZWHae7vc9L6pbp .__wab_expr_html_text) ol,
:where(.root_reset_8FchSsiiZWHae7vc9L6pbp_tags) ol,
ol:where(.root_reset_8FchSsiiZWHae7vc9L6pbp_tags) {
  display: var(--mixin-rapxNNo1Jyjc_display);
  flex-direction: var(--mixin-rapxNNo1Jyjc_flex-direction);
  align-items: var(--mixin-rapxNNo1Jyjc_align-items);
  justify-content: var(--mixin-rapxNNo1Jyjc_justify-content);
  list-style-position: var(--mixin-rapxNNo1Jyjc_list-style-position);
  padding-left: var(--mixin-rapxNNo1Jyjc_padding-left);
  position: var(--mixin-rapxNNo1Jyjc_position);
  list-style-type: var(--mixin-rapxNNo1Jyjc_list-style-type);
  flex-column-gap: var(--mixin-rapxNNo1Jyjc_flex-column-gap);
}

:where(.root_reset_8FchSsiiZWHae7vc9L6pbp) h5:where(.plasmic_default__h5),
h5:where(.root_reset_8FchSsiiZWHae7vc9L6pbp.plasmic_default__h5),
:where(.root_reset_8FchSsiiZWHae7vc9L6pbp .__wab_expr_html_text) h5,
:where(.root_reset_8FchSsiiZWHae7vc9L6pbp_tags) h5,
h5:where(.root_reset_8FchSsiiZWHae7vc9L6pbp_tags) {
  color: var(--mixin-eaUI7N3FSB1S_color);
  font-size: var(--mixin-eaUI7N3FSB1S_font-size);
  font-weight: var(--mixin-eaUI7N3FSB1S_font-weight);
  line-height: var(--mixin-eaUI7N3FSB1S_line-height);
}

:where(.root_reset_8FchSsiiZWHae7vc9L6pbp) h6:where(.plasmic_default__h6),
h6:where(.root_reset_8FchSsiiZWHae7vc9L6pbp.plasmic_default__h6),
:where(.root_reset_8FchSsiiZWHae7vc9L6pbp .__wab_expr_html_text) h6,
:where(.root_reset_8FchSsiiZWHae7vc9L6pbp_tags) h6,
h6:where(.root_reset_8FchSsiiZWHae7vc9L6pbp_tags) {
  color: var(--mixin-i-X3othDp4Ds_color);
  font-size: var(--mixin-i-X3othDp4Ds_font-size);
  font-weight: var(--mixin-i-X3othDp4Ds_font-weight);
  line-height: var(--mixin-i-X3othDp4Ds_line-height);
}

:where(.root_reset_8FchSsiiZWHae7vc9L6pbp) a:where(.plasmic_default__a):hover,
a:where(.root_reset_8FchSsiiZWHae7vc9L6pbp.plasmic_default__a):hover,
:where(.root_reset_8FchSsiiZWHae7vc9L6pbp .__wab_expr_html_text) a:hover,
:where(.root_reset_8FchSsiiZWHae7vc9L6pbp_tags) a:hover,
a:where(.root_reset_8FchSsiiZWHae7vc9L6pbp_tags):hover {
  color: var(--mixin-V7dzA9kG_EwQ_color);
}

:where(.root_reset_8FchSsiiZWHae7vc9L6pbp) li:where(.plasmic_default__li),
li:where(.root_reset_8FchSsiiZWHae7vc9L6pbp.plasmic_default__li),
:where(.root_reset_8FchSsiiZWHae7vc9L6pbp .__wab_expr_html_text) li,
:where(.root_reset_8FchSsiiZWHae7vc9L6pbp_tags) li,
li:where(.root_reset_8FchSsiiZWHae7vc9L6pbp_tags) {
}

:where(.root_reset_8FchSsiiZWHae7vc9L6pbp) p:where(.plasmic_default__p),
p:where(.root_reset_8FchSsiiZWHae7vc9L6pbp.plasmic_default__p),
:where(.root_reset_8FchSsiiZWHae7vc9L6pbp .__wab_expr_html_text) p,
:where(.root_reset_8FchSsiiZWHae7vc9L6pbp_tags) p,
p:where(.root_reset_8FchSsiiZWHae7vc9L6pbp_tags) {
}
