.SideBar__root__osFd {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 15%;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.SideBar__packedLogo__zhtlI.__wab_instance {
  position: relative;
}
