.Button__root___8TdWu.__wab_instance {
  position: relative;
  background: var(--token-ZHyBG-Ic2DbV);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-cvENf8rIc3QE);
  font-family: var(--token-a3G_3FNPLkp2);
  font-size: var(--token-BCUobWmlA1W7);
  line-height: var(--token-jehgxdhIlc95);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-8TTAQjhUAVqy);
  padding: 0rem;
  border-width: 0px;
}
.Button__root___8TdWu[data-focus-visible].__wab_instance {
  outline-style: solid;
  outline-width: var(--token-Z7vo8EeH4r64);
  outline-offset: 1px;
  outline-color: var(--token-ZHyBG-Ic2DbV);
}
.Button__root___8TdWu[data-disabled].__wab_instance {
  cursor: not-allowed;
}
.Button__rootcolor_neutral___8TdWu7TR2N.__wab_instance {
  background: var(--token-WOrftxpDvL6z);
}
.Button__rootcolor_muted___8TdWuzri4Y.__wab_instance {
  background: var(--token-O0DeOplQWwzT);
}
.Button__rootcolor_success___8TdWuI1Kix.__wab_instance {
  background: var(--token-Qd0H_H6tgMfS);
}
.Button__rootcolor_warning___8TdWukvZs6.__wab_instance {
  background: var(--token-0sHiOljR6Rl3);
}
.Button__rootcolor_errorDestructive___8TdWuie2Ak.__wab_instance {
  background: var(--token-8xduqXDJN3WL);
}
.Button__roottype_soft___8TdWuWov7G.__wab_instance {
  background: none;
}
.Button__roottype_bordered___8TdWuBTgH6.__wab_instance {
  background: none;
}
.Button__rootsize_extraSmall___8TdWuLj6S9.__wab_instance {
  line-height: var(--token-aHCyQiNWEGpu);
  font-size: var(--token-MOz7cPN8v0Gp);
  column-gap: var(--token-Z7vo8EeH4r64);
  row-gap: 0px;
  border-radius: var(--token-JtUCWjYfq1-O);
}
.Button__rootsize_small___8TdWug5RzI.__wab_instance {
  font-size: var(--token-MOz7cPN8v0Gp);
  line-height: var(--token-aHCyQiNWEGpu);
  column-gap: var(--token-JtUCWjYfq1-O);
  row-gap: 0px;
  border-radius: var(--token-JtUCWjYfq1-O);
}
.Button__rootsize_large___8TdWuF21L.__wab_instance {
  font-size: var(--token-CRfSx-JFAEZE);
  line-height: var(--token-2Y06EdnKguDY);
}
.Button__rootsize_extraLarge___8TdWuvi5UB.__wab_instance {
  font-size: var(--token-CRfSx-JFAEZE);
  line-height: var(--token-2Y06EdnKguDY);
}
.Button__rootroundedFull___8TdWuw8BJ.__wab_instance {
  border-radius: 99px;
}
.Button__rootflatSide_top___8TdWudjmlJ.__wab_instance {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.Button__rootflatSide_right___8TdWu5E3Tz.__wab_instance {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.Button__rootflatSide_bottom___8TdWuX1G1K.__wab_instance {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.Button__rootflatSide_left___8TdWuyLjPi.__wab_instance {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.Button__softBackground__d49Tu {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-dRv_T2BJ58TK);
  border-radius: var(--token-8TTAQjhUAVqy);
}
.Button__softBackgroundcolor_neutral__d49Tu7TR2N {
  background: var(--token-9VCFeqojN_h7);
}
.Button__softBackgroundcolor_muted__d49TUzri4Y {
  background: var(--token-jTyZcOqNgN0a);
}
.Button__softBackgroundcolor_success__d49Tui1Kix {
  background: var(--token-RyV6SoJq09cQ);
}
.Button__softBackgroundcolor_warning__d49TUkvZs6 {
  background: var(--token-IlahcBogPbBG);
}
.Button__softBackgroundcolor_errorDestructive__d49TUie2Ak {
  background: var(--token-cEBOOpnutZ6Y);
}
.Button__softBackgroundtype_soft__d49Tuwov7G {
  display: block;
}
.Button__roottype_bordered___8TdWuBTgH6[data-hovered]
  .Button__softBackgroundtype_bordered__d49TubTgH6 {
  display: block;
}
.Button__roottype_bordered___8TdWuBTgH6[data-pressed]
  .Button__softBackgroundtype_bordered__d49TubTgH6 {
  display: block;
}
.Button__softBackgroundroundedFull__d49TUw8BJ {
  border-radius: 99px;
}
.Button__border___36NuR {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-8TTAQjhUAVqy);
  border: 0px solid var(--token-Mo2PaF0keqTH);
}
.Button__bordercolor_neutral___36NuR7TR2N {
  border-color: var(--token-CDPErJsjfdK9);
}
.Button__bordercolor_muted___36NuRzri4Y {
  border-color: var(--token-3-cYc1lM1-t1);
}
.Button__bordercolor_success___36NuRi1Kix {
  border-color: var(--token-gExG92pM3cAo);
}
.Button__bordercolor_warning___36NuRkvZs6 {
  border-color: var(--token-v34QxAqxfTkO);
}
.Button__bordercolor_errorDestructive___36NuRie2Ak {
  border-color: var(--token-RL22g8PXxoNN);
}
.Button__bordertype_bordered___36NuRbTgH6 {
  background: none;
  display: block;
  border-width: 1px;
}
.Button__borderroundedFull___36NuRw8BJ {
  border-radius: 99px;
}
.Button__borderflatSide_top___36NuRdjmlJ {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.Button__borderflatSide_right___36NuR5E3Tz {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.Button__borderflatSide_bottom___36NuRx1G1K {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.Button__borderflatSide_left___36NuRyLjPi {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.Button__interactionEffect__qRu1V {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-8TTAQjhUAVqy);
}
.Button__root___8TdWu[data-hovered] .Button__interactionEffect__qRu1V {
  background: var(--token-Fk_yWenG_K6a);
}
.Button__root___8TdWu[data-disabled] .Button__interactionEffect__qRu1V {
  background: var(--token-FXfearMwK2zr);
}
.Button__root___8TdWu[data-pressed] .Button__interactionEffect__qRu1V {
  background: var(--token-sNNMTJv82mRg);
}
.Button__roottype_bordered___8TdWuBTgH6[data-hovered]
  .Button__interactionEffecttype_bordered__qRu1VBTgH6 {
  display: none;
}
.Button__interactionEffectroundedFull__qRu1Vw8BJ {
  border-radius: 99px;
}
.Button__freeBox__ovIS {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-8TTAQjhUAVqy) var(--token-nN-YRrDObPz5);
}
.Button__freeBox__ovIS > .__wab_flex-container {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-8TTAQjhUAVqy));
  width: calc(100% + var(--token-8TTAQjhUAVqy));
}
.Button__freeBox__ovIS > .__wab_flex-container > *,
.Button__freeBox__ovIS > .__wab_flex-container > .__wab_slot > *,
.Button__freeBox__ovIS > .__wab_flex-container > picture > img,
.Button__freeBox__ovIS > .__wab_flex-container > .__wab_slot > picture > img {
  margin-left: var(--token-8TTAQjhUAVqy);
}
.Button__freeBoxsize_extraSmall__ovISLj6S9 {
  padding: var(--token-JtUCWjYfq1-O) var(--token-8TTAQjhUAVqy);
}
.Button__freeBoxsize_small__ovISg5RzI {
  padding: var(--token-8TTAQjhUAVqy) var(--token-cvENf8rIc3QE);
}
.Button__freeBoxsize_large__ovISF21L {
  padding-top: var(--token-JtUCWjYfq1-O);
  padding-bottom: var(--token-JtUCWjYfq1-O);
}
.Button__freeBoxsize_extraLarge__ovISvi5UB {
  padding-left: var(--token-ekj26HlkgqLv);
  padding-right: var(--token-ekj26HlkgqLv);
}
.Button__freeBoxroundedFull__ovISw8BJ {
  padding-right: var(--token-ekj26HlkgqLv);
  padding-left: var(--token-ekj26HlkgqLv);
}
.Button__freeBox___45Cm6 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.Button__freeBoxiconStart___45Cm6DOdI {
  display: flex;
}
.Button__slotTargetStart__rfoEr {
  color: var(--token-hZ3bkeF2pkON);
}
.Button__slotTargetStartcolor_neutral__rfoEr7TR2N {
  color: var(--token-gFwEWiuU89qv);
}
.Button__slotTargetStartcolor_muted__rfoERzri4Y {
  color: var(--token-Pwvl_EMAhq4L);
}
.Button__slotTargetStartcolor_success__rfoEri1Kix {
  color: var(--token-2RYcS-u2-tqz);
}
.Button__slotTargetStartcolor_warning__rfoERkvZs6 {
  color: var(--token-XSx7L5Hh8njZ);
}
.Button__slotTargetStartcolor_errorDestructive__rfoERie2Ak {
  color: var(--token-FkjAcFbHO_u6);
}
.Button__slotTargetStarttype_soft__rfoErwov7G {
  color: var(--token-9sj_p2wx4EKE);
}
.Button__slotTargetStarttype_bordered__rfoErbTgH6 {
  color: var(--token-9sj_p2wx4EKE);
}
.Button__slotTargetStartsize_extraSmall__rfoErlj6S9 {
  font-size: var(--token-MOz7cPN8v0Gp);
}
.Button__slotTargetStartsize_small__rfoERg5RzI {
  font-size: var(--token-MOz7cPN8v0Gp);
}
.Button__slotTargetStartsize_large__rfoErf21L {
  font-size: var(--token-CRfSx-JFAEZE);
}
.Button__slotTargetStartsize_extraLarge__rfoERvi5UB {
  font-size: var(--token-CRfSx-JFAEZE);
}
.Button__slotTargetStartcolor_neutral_type_soft__rfoEr7TR2NWov7G {
  color: var(--token-jqF1K-8RW4tu);
}
.Button__slotTargetStartcolor_neutral_type_bordered__rfoEr7TR2NBTgH6 {
  color: var(--token-jqF1K-8RW4tu);
}
.Button__slotTargetStarttype_soft_color_muted__rfoErwov7GZri4Y {
  color: var(--token-80PY7etZh1hX);
}
.Button__slotTargetStarttype_bordered_color_muted__rfoErbTgH6Zri4Y {
  color: var(--token-80PY7etZh1hX);
}
.Button__slotTargetStartcolor_success_type_soft__rfoEri1KixWov7G {
  color: var(--token-nJnHnMGy33S9);
}
.Button__slotTargetStarttype_bordered_color_success__rfoErbTgH6I1Kix {
  color: var(--token-nJnHnMGy33S9);
}
.Button__slotTargetStarttype_soft_color_warning__rfoErwov7GKvZs6 {
  color: var(--token-s-NMgOFmWAMw);
}
.Button__slotTargetStarttype_bordered_color_warning__rfoErbTgH6KvZs6 {
  color: var(--token-s-NMgOFmWAMw);
}
.Button__slotTargetStarttype_soft_color_errorDestructive__rfoErwov7GIe2Ak {
  color: var(--token-3W3ajAw2zG1S);
}
.Button__slotTargetStarttype_bordered_color_errorDestructive__rfoErbTgH6Ie2Ak {
  color: var(--token-3W3ajAw2zG1S);
}
.Button__svg__tJvIj {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.Button__slotTargetLabel___8PLih {
  color: var(--token-hZ3bkeF2pkON);
}
.Button__slotTargetLabelcolor_neutral___8PLih7TR2N {
  color: var(--token-gFwEWiuU89qv);
}
.Button__slotTargetLabelcolor_muted___8PLihzri4Y {
  color: var(--token-Pwvl_EMAhq4L);
}
.Button__slotTargetLabelcolor_success___8PLihI1Kix {
  color: var(--token-2RYcS-u2-tqz);
}
.Button__slotTargetLabelcolor_warning___8PLihkvZs6 {
  color: var(--token-XSx7L5Hh8njZ);
}
.Button__slotTargetLabelcolor_errorDestructive___8PLihie2Ak {
  color: var(--token-FkjAcFbHO_u6);
}
.Button__slotTargetLabeltype_soft___8PLihWov7G {
  color: var(--token-9sj_p2wx4EKE);
}
.Button__slotTargetLabeltype_bordered___8PLihBTgH6 {
  color: var(--token-9sj_p2wx4EKE);
}
.Button__slotTargetLabelcolor_neutral_type_soft___8PLih7TR2NWov7G {
  color: var(--token-jqF1K-8RW4tu);
}
.Button__slotTargetLabeltype_soft_color_muted___8PLihWov7GZri4Y {
  color: var(--token-80PY7etZh1hX);
}
.Button__slotTargetLabelcolor_neutral_type_bordered___8PLih7TR2NBTgH6 {
  color: var(--token-jqF1K-8RW4tu);
}
.Button__slotTargetLabelcolor_success_type_soft___8PLihI1KixWov7G {
  color: var(--token-nJnHnMGy33S9);
}
.Button__slotTargetLabeltype_bordered_color_muted___8PLihBTgH6Zri4Y {
  color: var(--token-80PY7etZh1hX);
}
.Button__slotTargetLabeltype_soft_color_warning___8PLihWov7GKvZs6 {
  color: var(--token-s-NMgOFmWAMw);
}
.Button__slotTargetLabeltype_bordered_color_success___8PLihBTgH6I1Kix {
  color: var(--token-nJnHnMGy33S9);
}
.Button__slotTargetLabeltype_soft_color_errorDestructive___8PLihWov7GIe2Ak {
  color: var(--token-3W3ajAw2zG1S);
}
.Button__slotTargetLabeltype_bordered_color_warning___8PLihBTgH6KvZs6 {
  color: var(--token-s-NMgOFmWAMw);
}
.Button__slotTargetLabeltype_bordered_color_errorDestructive___8PLihBTgH6Ie2Ak {
  color: var(--token-3W3ajAw2zG1S);
}
.Button__text__kvSbV {
  white-space: pre;
}
.Button__freeBox__daHcD {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.Button__freeBoxiconEnd__daHcDrkLmf {
  display: flex;
}
.Button__slotTargetEnd__wzCos {
  color: var(--token-hZ3bkeF2pkON);
}
.Button__slotTargetEndcolor_neutral__wzCos7TR2N {
  color: var(--token-gFwEWiuU89qv);
}
.Button__slotTargetEndcolor_muted__wzCoszri4Y {
  color: var(--token-Pwvl_EMAhq4L);
}
.Button__slotTargetEndcolor_success__wzCosI1Kix {
  color: var(--token-2RYcS-u2-tqz);
}
.Button__slotTargetEndcolor_warning__wzCoskvZs6 {
  color: var(--token-XSx7L5Hh8njZ);
}
.Button__slotTargetEndcolor_errorDestructive__wzCosie2Ak {
  color: var(--token-FkjAcFbHO_u6);
}
.Button__slotTargetEndtype_soft__wzCosWov7G {
  color: var(--token-9sj_p2wx4EKE);
}
.Button__slotTargetEndtype_bordered__wzCosBTgH6 {
  color: var(--token-9sj_p2wx4EKE);
}
.Button__slotTargetEndsize_extraSmall__wzCosLj6S9 {
  font-size: var(--token-MOz7cPN8v0Gp);
}
.Button__slotTargetEndsize_small__wzCosg5RzI {
  font-size: var(--token-MOz7cPN8v0Gp);
}
.Button__slotTargetEndsize_large__wzCosF21L {
  font-size: var(--token-CRfSx-JFAEZE);
}
.Button__slotTargetEndsize_extraLarge__wzCosvi5UB {
  font-size: var(--token-CRfSx-JFAEZE);
}
.Button__slotTargetEndcolor_neutral_type_soft__wzCos7TR2NWov7G {
  color: var(--token-jqF1K-8RW4tu);
}
.Button__slotTargetEndcolor_neutral_type_bordered__wzCos7TR2NBTgH6 {
  color: var(--token-jqF1K-8RW4tu);
}
.Button__slotTargetEndtype_soft_color_muted__wzCosWov7GZri4Y {
  color: var(--token-80PY7etZh1hX);
}
.Button__slotTargetEndtype_bordered_color_muted__wzCosBTgH6Zri4Y {
  color: var(--token-80PY7etZh1hX);
}
.Button__slotTargetEndcolor_success_type_soft__wzCosI1KixWov7G {
  color: var(--token-nJnHnMGy33S9);
}
.Button__slotTargetEndtype_bordered_color_success__wzCosBTgH6I1Kix {
  color: var(--token-nJnHnMGy33S9);
}
.Button__slotTargetEndtype_soft_color_warning__wzCosWov7GKvZs6 {
  color: var(--token-s-NMgOFmWAMw);
}
.Button__slotTargetEndtype_bordered_color_warning__wzCosBTgH6KvZs6 {
  color: var(--token-s-NMgOFmWAMw);
}
.Button__slotTargetEndtype_soft_color_errorDestructive__wzCosWov7GIe2Ak {
  color: var(--token-3W3ajAw2zG1S);
}
.Button__slotTargetEndtype_bordered_color_errorDestructive__wzCosBTgH6Ie2Ak {
  color: var(--token-3W3ajAw2zG1S);
}
.Button__svg__jHqxo {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
